/*
********************************************************************************
*** BASE
********************************************************************************
*/

* {
	line-height:		1rem;
	font-height:		1rem;
	font-family:		'Courier New', monospace;
	color:				var(--TEXT);
	margin:				0;
	padding:			0;
	border:				0;
}

html {
	--BACKGROUND:		white;
	--TEXT:				black;
	--WIDTH:			80ch;
	background:			var(--BACKGROUND);
}

body {
	position:			absolute;
}

hr {
	width:				100vw;
	overflow:			hide;
}
hr:after {
	content:			"////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////";
}

h1, h2, h3, h4, h5, h6 {
	font-size:			1rem;
	font-weight:		normal;
	text-transform:		uppercase;
}
h1:before, h2:before, h3:before, h4:before, h5:before {
	content:			"/// ";
}
h1 a:before { content:	""; }
h1 a:after { content:	""; }

a {
	color:				var(--TEXT);
	text-decoration:	none;
}
a:before { content:		"["; }
a:after { content:		"]"; }

/*
********************************************************************************
*** HEADER
********************************************************************************
*/

nav tr {
	display:			block;
	float:				left;
	margin-right:		2ch;
}

nav td {
	display:			block;
}

nav a:before {
	content:			". [";
}
nav a:hover:before, nav .active:before {
	content:			"> [";
}

/*
********************************************************************************
*** MAIN
********************************************************************************
*/

main {
	margin-top:			1rem;
	margin-bottom:		1rem;
	margin-left:		2ch;
}

article { }

section { }

main h1, main h2, main h3, main h4, main h5, main h6 {
	margin-top:			1rem;
	margin-bottom:		1rem;
	margin-left:		-2ch;
}
main h1:before { content:	"//////////////////////////////////////////////////\A///"; }
main h1:after { content:	"\A//////////////////////////////////////////////////"; }
main h2:before { content:	"//////////////////////////////\A///"; }
main h2:after { content:	"\A//////////////////////////////"; }
main h3:before { content:	"///////////////\A///"; }
main h3:after { content:	"\A///////////////"; }
main h4:before, main h5:before, main h6:before {
	content:			"\A///";
}
main h1:before, main h1:after,
main h2:before, main h2:after,
main h3:before, main h3:after,
main h4:before, main h4:after,
main h5:before, main h5:after,
main h6:before, main h6:after {
	white-space:		pre;
}

p {
	margin-top:			1rem;
	margin-bottom:		1rem;
	max-width:			calc(var(--WIDTH) - 2ch);
}

code {
	white-space:		pre;
}

/*
**************************************************
*** LIST
**************************************************
*/

ul {
}
ul ul {
	padding-left:		2ch;
}

li {
	list-style-type:	none;
}

li a:before { content:			". ["; }
li a:hover:before { content:	"> ["; }

li span {
	display:			block;
	padding-left:		4ch;
}

/*
**************************************************
*** TABLES
**************************************************
*/

table {
	border-spacing:		0;
	margin-top:			1rem;
	margin-bottom:		1rem;
}

table td {
	padding-right:		4ch;
	padding-left:		1ch;
	vertical-align:		top;
}

.links {
	border-spacing:		0;
	margin-top:			1rem;
	margin-bottom:		1rem;
}

.links td {
	padding-right:		4ch;
	padding-left:		1ch;
}

.links tr:before { content:			". "; }
.links tr:hover:before { content:	"> "; }
